@model IEnumerable<ABCD_Client.Models.Movies>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.movieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movieDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.releaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.movieTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.movieDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.releaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.movieId }) |
            @Html.ActionLink("Details", "Details", new { id=item.movieId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.movieId })
        </td>
    </tr>
}

</table>
