@model ABCD_Client.Models.Tickets

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCinema.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tickets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.seatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movies.movieTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movies.movieTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomSeats.roomId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomSeats.roomId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Screening.screeningId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screening.screeningId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ticketId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
