@{
    ViewBag.Title = "Customer Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div id="tabs">
    <h1>@ViewBag.Title</h1>
    <div class="tab-selector">
        <span class="tab active" data-target="#tab1">Customer Information</span>
        <span class="tab" data-target="#tab2">Change Password</span>
    </div>

    <div id="tab1" class="tab-content" style="display: block;">
        <!-- display customer information here -->
        <p>Username: @Model.userName</p>
        <p>Email: @Model.email</p>
        <p>Full Name: @Model.fullName</p>
        <p>Date of Birth: @Model.birthDate.ToShortDateString()</p>
    </div>

    <div id="tab2" class="tab-content" style="display:none;">
        <!-- change password form here -->
        @using (Html.BeginForm("ChangePassword", "Customers", FormMethod.Post))
        {
            <p>
                <label for="oldPassword">Old Password</label>
                <input type="password" id="oldPassword" name="OldPassword" required>
                <span id="oldPasswordError" style="color:red"></span>
            </p>
            <p>
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="NewPassword" required>
            </p>
            <button type="submit" id="changePasswordButton">Change Password</button>
        }
    </div>
    <br /><br /><br />
</div>

<script>
    var tabs = document.querySelectorAll('.tab');
    var tabContents = document.querySelectorAll('.tab-content');

    for (var i = 0; i < tabs.length; i++) {
        var tab = tabs[i];
        tab.addEventListener('click', function () {
            // remove active class from all tabs
            for (var j = 0; j < tabs.length; j++) {
                tabs[j].classList.remove('active');
            }

            // add active class to selected tab
            this.classList.add('active');

            var targetSelector = this.dataset.target;
            var targetContent = document.querySelector(targetSelector);

            // hide all tab contents
            for (var j = 0; j < tabContents.length; j++) {
                tabContents[j].style.display = 'none';
            }

            // show selected tab content
            targetContent.style.display = 'block';
        });
    }


</script>






<style>
    #tabs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tab-selector {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        text-align: center;
        width: 100%;
    }

        .tab-selector .tab {
            cursor: pointer;
            padding: 0.5rem 1rem;
            border: 1px solid #ccc;
            border-radius: 0.5rem 0.5rem 0 0;
            margin: 0 0.5rem;
        }

            .tab-selector .tab:first-child {
                border-radius: 0.5rem 0 0 0.5rem;
            }

            .tab-selector .tab:last-child {
                border-radius: 0 0.5rem 0.5rem 0;
            }

            .tab-selector .tab.active {
                background-color: #f1f1f1;
                border-bottom-color: transparent;
            }

    .tab-content {
        display: none;
    }

        .tab-content:first-of-type {
            display: block;
        }
</style>

