@model IEnumerable<ABCD_Client.Models.Ticket>

@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>OrderDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.seatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movy.movieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomSeat.roomId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Screening.reservedTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.seatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movy.movieTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomSeat.roomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screening.reservedTime)
            </td>
            <td>
                @Html.ActionLink("Export PDF", "ExportPdf", new { ticketId = item.ticketId })
            </td>
        </tr>
    }



</table>
