@{
    ViewBag.Title = "Home Page";
}


<!-- HERO SECTION-->
<div class="container">
    <section class="hero pb-3 bg-cover bg-center d-flex align-items-center" style=" background-image: url('/img/hero-banner-alt.jpg');">
        <div class="container py-5">
            <div class="row px-4 px-lg-5">
                <div class="col-lg-6">
                    <p class="text-muted small text-uppercase mb-2">New Inspiration 2020</p>
                    <h1 class="h2 text-uppercase mb-3">20% off on new season</h1><a class="btn btn-dark" href="shop.html">Browse collections</a>
                </div>
            </div>
        </div>
    </section>

    <!-- SHOPS SECTION -->
    <section class="shops-section">
        <div class="container">
            <h2>Shops</h2>
            <div class="row">
                @foreach (var shop in ViewBag.Shops)
                {
                    <div class="col-md-6 col-lg-3 mb-4">
                        <div class="card h-100">
                            <a href="@Url.Action("Details", "Shops" , new {id = shop.shopId})">
                                <img src="@Url.Content("~/img/brands/" + @shop.imagePath)" class="card-img-top" alt="Shop Image">
                                <div class="card-body">
                                    <h5 class="card-title">@shop.shopName</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- PRODUCTS SECTION -->
    <section class="products-section">
        <div class="container">
            <h2>Products</h2>
            <div class="row">
                @foreach (var product in ViewBag.Products)
                {
                    <div class="col-md-6 col-lg-3 mb-4">
                        <div class="card h-100">
                            <a href="@Url.Action("Details", "Products" , new {id = product.productId})">
                                @{
                                    var productIndex = ViewBag.Products.IndexOf(product);
                                    var imageUrl = Url.Content("~/img/product/" + ViewBag.ImagePaths[productIndex]);
                                }
                                <img src="@imageUrl" class="card-img-top" alt="Product Image">
                                <div class="card-body">
                                    <h5 class="card-title">@product.productName</h5>
                                    <p class="card-text">Price: @product.price vnd</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>

    <!-- MOVIES SECTION -->
    <section class="movies-section">
        <div class="container">
            <h2>Movies</h2>
            <div class="row">
                @foreach (var movie in ViewBag.Movies)
                {
                    <div class="col-md-6 col-lg-3 mb-4">
                        <div class="card h-100">
                            <a href="@Url.Action("BookingTickets", "Cinema" , new {id = movie.movieId})">
                                <img src="@Url.Content("~/img/movie/" + @movie.imagePath)" class="card-img-top" alt="Movie Image">
                                <div class="card-body">
                                    <h5 class="card-title">@movie.movieTitle</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>

