@model ABCD_Client.Models.Shop

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>Details Shops</h2>

    <div>
        <div class="left-column">
            <hr />
            <h4>Images</h4>

            <img style="margin-left:-5rem" src="@Url.Content("~/img/brands/" + Model.imagePath)" />
            <dl class="row">
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.shopName)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.shopName)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.shopAddress)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.shopAddress)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.phoneNumber)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.phoneNumber)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.email)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.email)</dd>
            </dl>
        </div>

        <div class="right-column">
            <h4>Feedbacks</h4>
            <hr />
                    <div>
            @if (Session["customerId"] != null)
            {
                <form action="@Url.Action("Create", "Feedbacks")" method="post">
                    <input type="hidden" name="shopId" value="@Model.shopId" />
                    <div>
                        <h4>Leave Feedback</h4>
                        <hr />
                        <div class="form-group">
                            <label for="message" class="control-label">Message:</label>
                            <textarea name="message" class="form-control" required></textarea>
                        </div>
                        <style>
                            .btn-default {
                                border: 1px solid #ccc;
                                padding: 5px 10px;
                                background-color: #fff;
                                color: #333;
                                font-size: 16px;
                                cursor: pointer;
                            }

                            .btn-default:hover {
                                background-color: #eee;
                            }
                        </style>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            }
            else
            {
                <strong><a href="@Url.Action("Login", "Home")">Login To Leave Feedbacks</a></strong>
            }
        </div>
            <ul>
                @foreach (var feedback in ViewBag.Feedbacks)
                {
                    <li>
                        User:
                        @feedback.Customer.fullName
                        <br />
                        Message:
                        @feedback.message
                    </li>

                }
            </ul>
        </div>



    </div>

    <div class="product-container">
        <div class="product-grid">
            @{ var productIndex = 0; }
            @foreach (var product in ViewBag.Products)
            {
                var imageUrl = Url.Content("~/img/product/" + ViewBag.ImagePaths[productIndex]);
                <div class="product-item">
                    <a href="@Url.Action("Details", "Products", new { id = product.productId })">
                        <div class="product-image">
                            <img src="@Url.Content(imageUrl)" alt="@product.productName">
                        </div>
                        <div class="product-info">
                            <h5>@product.productName</h5>
                            <span class="product-price">$@product.price</span>
                        </div>
                    </a>
                </div>
                productIndex++;
            }
        </div>
    </div>





</div>

<style>
    .product-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .product-item {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    .product-image img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 5px 5px 0 0;
    }

    .product-info {
        padding: 10px;
    }

        .product-info h5 {
            margin: 0;
        }

    .product-price {
        color: #f00;
    }

</style>
