@model IEnumerable<ABCD_Client.Models.RoomSeats>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.isAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rooms.roomId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seats.seatName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.isAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rooms.roomId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seats.seatName)
        </td>
    </tr>
}

</table>
