<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Entertain Pro</title>
    <link href="~/css2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css2/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css2/css/global.css" rel="stylesheet" />
    <link href="~/css2/css/index.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <section id="header">
        <div id="signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            @using (Html.BeginForm("Create", "Customers", FormMethod.Post, new { id = "signupForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">SIGN UP</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="ps-3 pe-3">
                                <label class="form-label">Full Name</label>
                                <input type="text" class="form-control" name="fullName" required="required" placeholder="Enter your Full name" />

                                <label class="form-label">Birth Date</label>
                                <input type="date" class="form-control" name="birthDate" required="required" placeholder="Select your birthdate" />

                                <label class="form-label">Email Address</label>
                                <input type="email" class="form-control" name="email" required="required" placeholder="Enter your email address" />


                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" name="userName" id="userNameInput" required="required" placeholder="Enter your username" />

                                <span id="userNameValidationMessage"></span>
                                <style>
                                    #userNameValidationMessage {
                                        color: red;
                                    }
                                </style>

                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" required="required" placeholder="Enter your password" />

                                <div class="mb-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="acceptTerms" required>
                                        <label class="form-check-label" for="acceptTerms">I accept <a href="#">Terms and Conditions</a></label>
                                    </div>
                                </div>

                                <div class="mb-3 text-center">
                                    <button type="submit" class="button_1 d-block" id="signupButton">SIGN UP</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            }

        </div>
        <script>
                var userNameInput = document.getElementById("userNameInput");
                var userNameValidationMessage = document.getElementById("userNameValidationMessage");
                var acceptTermsCheckbox = document.getElementById("acceptTerms");
                var signupButton = document.getElementById("signupButton");

                function updateSignupButtonState() {
                    if (acceptTermsCheckbox.checked && userNameValidationMessage.textContent === "") {
                        signupButton.removeAttribute("disabled");
                    } else {
                        signupButton.setAttribute("disabled", "disabled");
                    }
                }

                userNameInput.addEventListener("input", function() {
                    var userName = userNameInput.value;

                    fetch(`/Customers/CheckUserName?userName=${userName}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.exists) {
                                userNameValidationMessage.textContent = "Username already exists.";
                                userNameValidationMessage.insertAdjacentHTML('beforeend', '<br>');
                            } else {
                                userNameValidationMessage.textContent = "";
                            }

                            // Update the state of the signup button
                            updateSignupButtonState();
                        })
                        .catch(error => console.error(error));
                });

                acceptTermsCheckbox.addEventListener("change", function() {
                    updateSignupButtonState();
                });

                document.addEventListener("DOMContentLoaded", function() {
                    var signupForm = document.getElementById("signupForm");

                    signupForm.addEventListener("submit", function(event) {
                        if (!acceptTermsCheckbox.checked) {
                            event.preventDefault();
                            alert("Please accept the terms and conditions to continue.");
                        } else if (userNameValidationMessage.textContent !== "") {
                            event.preventDefault();
                            alert("Username already exists. Please choose a different username.");
                        }
                    });
                });


        </script>
        <nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
            <div class="container-fluid">
                <a class="navbar-brand fs-4 p-0 fw-bold text-white text-uppercase" href="@Url.Action("Index", "Home")">ABCD Mall</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-0">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Cinema")">Cinema</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Blog
                            </a>
                            <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="blog.html"> Blog</a></li>
                                <li><a class="dropdown-item border-0" href="blog_detail.html"> Blog Detail</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="event.html">Events</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="team.html">team</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav mb-0 ms-auto">

                        <li class="nav-item">
                            <select name="categories" class="form-select bg-light" required="">
                                <option value="">Movie</option>
                            </select>

                            <div class="input-group">
                                <input type="text" class="form-control border-start-0" id="search-movie" placeholder="Search Movie">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary bg_yell search" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>

                        </li>

                        <li class="nav-item ms-3">
                            <a class="nav-link cart-link" href="@Url.Action("Cart", "Cinema")">
                                <i class="fas fa-shopping-cart fa-3x align-middle" style="color: black;"></i>
                                <small class="text-gray fw-normal"></small>
                            </a>
                        </li>


                        <!-- handle search bar -->
                        <script>
                        function updateCartLinkCount() {
                            var customerId = @Html.Raw(Json.Encode(Session["customerId"]));
                            if (customerId) {
                                var xhr = new XMLHttpRequest();
                                xhr.onreadystatechange = function() {
                                    if (xhr.readyState === 4 && xhr.status === 200) {
                                        var count = parseInt(xhr.responseText);
                                        document.querySelector('.cart-link small').textContent = '(' + count + ')';
                                    }
                                }
                                xhr.open('GET', '@Url.Action("GetCartCount", "Customers")' + '?customerId=' + customerId, true);
                                xhr.send(null);
                            }
                        }

                        window.addEventListener('load', function() {
                            updateCartLinkCount();
                        });



                        document.addEventListener('DOMContentLoaded', function() {
                          var searchBtn = document.querySelector('.search');
                          var moviesSection = document.querySelector('#movies');

                          searchBtn.addEventListener('click', function() {
                            var query = document.querySelector('#search-movie').value;
                            var xhr = new XMLHttpRequest();

                            xhr.onreadystatechange = function() {
                              if (xhr.readyState === 4 && xhr.status === 200) {
                                if (xhr.responseText.trim().length > 0) {
                                    document.querySelector('#movie-list').innerHTML = xhr.responseText;
                                    moviesSection.style.display = 'block';
                                } else {
                                    moviesSection.style.display = 'none';
                                }
                              }
                            };
                            xhr.open('POST', '/Cinema/SearchMovies');
                            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                            xhr.send('query=' + query);
                          });
                        });
                        </script>

                        <li class="nav-item ms-3">
                            @if (Session["customerId"] == null)
                            {
                                <a class="nav-link button" data-bs-toggle="modal" data-bs-target="#signup-modal" href="#">SIGN UP</a>
                                <a class="nav-link button" href="@Url.Action("Login", "Customers")">LOG IN</a>
                            }
                            else
                            {
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle button" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        Welcome @Session["customerName"]
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("CustomerProfile", "Customers")">
                                                <i class="fas fa-user"></i> Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("Orders", "Customers")">
                                                <i class="fas fa-shopping-basket"></i> Orders
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("Logout", "Customers")">
                                                <i class="fas fa-sign-out-alt"></i> Sign out
                                            </a>
                                        </li>

                                    </ul>
                                </div>

                            }
                        </li>
                        <!-- /.modal -->

                    </ul>
                </div>
            </div>
        </nav>
    </section>


    <style>

        .cart-link:hover i {
            color: red;
            transform: scale(1.2);
        }
        #movies {
            position: relative;
        }

        #movie-list {
            position: absolute;
            top: calc(100% + 60px); /* add the height of the navbar */
            right: 0;
            width: 300px; /* adjust this to your preference */
            height: 400px; /* adjust this to your preference */
            overflow-y: scroll;
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            padding: 10px;
            z-index: 9999; /* set a high z-index value */
        }
    </style>
    <section id="movies" style="display:none">
        <div class="container">
            <div id="movie-list"></div> <!-- load movie list -->
        </div>
    </section>


    @RenderBody()


    <section id="footer" class="p_3">
        <div class="container-xl">
            <div class="row footer_1">
                <div class="col-md-2">
                    <div class="footer_1i">
                        <h6 class="text-white fw-bold">LANGUAGE MOVIES</h6>
                        <hr class="line mb-4">
                        <div class="row footer_1i_small">
                            <h6 class="col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">English Movie</a></h6>
                            <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Tamil Movie</a></h6>
                            <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Punjabi Movie</a></h6>
                            <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Hindi Movie</a></h6>
                            <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Malyalam Movie</a></h6>
                            <h6 class="mb-0 mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#"> Action Movie</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_1i">
                        <h6 class="text-white fw-bold">TAG CLOUD</h6>
                        <hr class="line mb-4">
                        <ul class="mb-0">
                            <li class="d-inline-block"><a class="d-block" href="#">Analyze</a></li>
                            <li class="d-inline-block"><a class="d-block" href="#">Audio</a></li>
                            <li class="d-inline-block"><a class="d-block" href="#">Blog</a></li>
                            <li class="d-inline-block"><a class="d-block" href="#">Business</a></li>
                            <li class="d-inline-block"><a class="d-block" href="#">Creative</a></li>
                            <li class="d-inline-block"><a class="d-block" href="#">Design</a></li>
                            <li class="d-inline-block"><a class="d-block" href="#">Experiment</a></li>
                            <li class="d-inline-block"><a class="d-block" href="#">News</a></li>
                            <li class="d-inline-block"><a class="d-block" href="#">Expertize</a></li>
                            <li class="d-inline-block"><a class="d-block" href="#">Express</a></li>
                            <li class="d-inline-block"><a class="d-block" href="#">Share</a></li>
                            <li class="d-inline-block"><a class="d-block" href="#">Sustain</a></li>
                            <li class="d-inline-block"><a class="d-block" href="#">Video</a></li>
                            <li class="d-inline-block"><a class="d-block" href="#">Youtube</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer_1i">
                        <h6 class="text-white fw-bold">BY PRESENTER</h6>
                        <hr class="line mb-4">
                        <div class="row footer_1i_small">
                            <h6 class="col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Action Movie</a></h6>
                            <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Romantic Movie</a></h6>
                            <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Other Movie</a></h6>
                            <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Comedy Movie</a></h6>
                            <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Drama Movie</a></h6>
                            <h6 class="mb-0 mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Classical Movie</a></h6>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_1i">
                        <h6 class="text-white fw-bold">SUBSCRIPTION</h6>
                        <hr class="line mb-4">
                        <p class="text-muted">Subscribe your Email address for latest news & updates.</p>
                        <input class="form-control bg-transparent" placeholder="Enter Email Address" type="text">
                        <h6 class="mb-0 mt-4"><a class="button_1 pt-3 pb-3" href="#">Submit <i class="fa fa-check-circle ms-1"></i> </a></h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer_b" class="pt-3 pb-3">
        <div class="container-xl">
            <div class="row footer_b1">
                <div class="col-md-8">
                    <div class="footer_b1l">
                        <p class="mb-0 fs-6 text-muted mt-1">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_red" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_b1r text-end">
                        <ul class="social-network social-circle mb-0">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="lab la-facebook-f"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="lab la-twitter"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="lab la-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        window.onscroll = function() {myFunction()};

        var navbar_sticky = document.getElementById("navbar_sticky");
        var sticky = navbar_sticky.offsetTop;
        var navbar_height = document.querySelector('.navbar').offsetHeight;

        function myFunction() {
          if (window.pageYOffset >= sticky + navbar_height) {
            navbar_sticky.classList.add("sticky")
	        document.body.style.paddingTop = navbar_height + 'px';
          } else {
            navbar_sticky.classList.remove("sticky");
	        document.body.style.paddingTop = '0'
          }
        }
    </script>

</body>

</html>