@model ABCD_Client.Models.Movy

@{
    ViewBag.Title = "Booking Tickets";
    Layout = "~/Views/Shared/_LayoutCinema.cshtml";
}

<link href="~/css/seats.css" rel="stylesheet" />
<hr />
<div class="container">
    <h1>Details Film</h1>

    <div style="margin: auto">
        <div class="movie-details" style="margin-left: 5rem">
            <div>
                <h4>@Model.movieTitle</h4>
                <img style="margin:auto" src="@Url.Content("~/img/movie/" + Model.imagePath)" alt="@Model.movieTitle" />

                <dl class="row">
                    <dt class="col-sm-2">Movie Description:</dt>
                    <dd class="col-sm-10">@Model.movieDescription</dd>

                    <dt class="col-sm-2">Release Date:</dt>
                    <dd class="col-sm-10">@Model.releaseDate.ToShortDateString()</dd>

                    <dt class="col-sm-2">Duration</dt>
                    <dd class="col-sm-10">@Model.duration minutes</dd>

                    <dt class="col-sm-2">Rating</dt>
                    <dd class="col-sm-10">@Model.rating out of 5</dd>
                </dl>

                <a href="@Model.trailerLink" target="_blank"><button>Watch Trailer</button></a>
            </div>
        </div>
    </div>
</div>

<div>
        <h1>Screenings</h1>
        <div class="row">
            <div class="col-lg-12">
                @if (ViewBag.Screenings != null)
                {
                    foreach (var screening in ViewBag.Screenings)
                    {
                        <div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Room</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@screening.reservedTime.ToShortDateString()</td>
                                        <td>@screening.reservedTime.ToShortTimeString()</td>
                                        <td>@screening.roomId</td>
                                        <td>@screening.price</td>
                                        <td>
                                            @Html.ActionLink("Order Ticket", "AddToCart", "Cinema", new { roomId = screening.roomId, screeningId = screening.screeningId }, new { @class = "order-ticket-link" })
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                }
            </div>
        </div>
  </div>