
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutCinema.cshtml";
}

<section class="py-5">
    <h2 class="h5 text-uppercase mb-4">Shopping cart</h2>
    <div class="row">
        <div class="col-lg-8 mb-4 mb-lg-0">
            <!-- CART TABLE-->
            <div class="table-responsive mb-4">
                <table class="table text-nowrap">
                    <thead class="bg-light">
                        <tr>
                            <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Seat Name</strong></th>
                            <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Room</strong></th>
                            <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Reserved Time</strong></th>
                            <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Movie Title</strong></th>
                            <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase">Price </strong></th>
                            <th class="border-0 p-3" scope="col"> <strong class="text-sm text-uppercase"></strong></th>
                        </tr>
                    </thead>
                    <tbody class="border-0">
                        @foreach (var cart in ViewBag.carts)
                        {
                            <tr>
                                <td class="p-3 align-middle border-light">
                                    <p class="mb-0 small">@cart.Ticket.seatName</p>
                                </td>
                                <td class="p-3 align-middle border-light">
                                    <p class="mb-0 small">@cart.Ticket.roomId</p>
                                </td>
                                <td class="p-3 align-middle border-light">
                                    <p class="mb-0 small">@cart.Ticket.Screening.reservedTime</p>
                                </td>
                                <td class="p-3 align-middle border-light">
                                    <p class="mb-0 small">@cart.Ticket.Movy.movieTitle</p>
                                </td>
                                <td class="p-3 align-middle border-light">
                                    <p class="mb-0 small">@string.Format("{0:#,##0;(#,##0)}", cart.price) vnđ</p>
                                </td>

                                <td class="p-3 align-middle border-light">
                                    <a class="reset-anchor" href="@Url.Action("RemoveFromCart", "Cinema", new { customerId = cart.customerId, ticketId = cart.ticketId })">
                                        <i class="fas fa-trash-alt small text-muted"></i>
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- CART NAV-->
            <div class="bg-light px-4 py-3">
                <div class="row align-items-center text-center">
                    <div class="col-md-6 mb-3 mb-md-0 text-md-start"><a class="btn btn-link p-0 text-dark btn-sm" href="@Url.Action("Index", "Cinema")"><i class="fas fa-long-arrow-alt-left me-2"> </i>Continue shopping</a></div>
                    <div class="col-md-6 text-md-end"><a class="btn btn-outline-dark btn-sm" href="@Url.Action("Checkout", "Cart")">Proceed to checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></a></div>
                </div>
            </div>
        </div>
        <!-- ORDER TOTAL-->
        <div class="col-lg-4">
            <div class="card border-0 rounded-0 p-lg-4 bg-light">
                <div class="card-body">
                    <h5 class="text-uppercase mb-4">Cart total</h5>
                    <ul class="list-unstyled mb-0">
                        @if (ViewBag.carts.Count > 0)
                        {
                            decimal total = 0;
                            if (ViewBag.carts != null)
                            {
                                foreach (var cart in ViewBag.carts)
                                {
                                    total += cart.price;
                                }
                            }

                            <li class="d-flex align-items-center justify-content-between mb-4"><strong class="text-uppercase small font-weight-bold">Total</strong><span>@string.Format("{0:#,##0;(#,##0)}", total) vnd</span></li>
                        }
                        else
                        {
                            <li class="d-flex align-items-center justify-content-between mb-4"><p class="small text-muted">Your cart is empty</p></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>